# Dependencies
node_modules/

# Build output
.next/
out/

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store
tsconfig.tsbuildinfo
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
